doctype html
html
    include includes/head.pug
    body
        block content
    
    ul
    
        li
            a(href="/bio") bio
        li
            a(href="/artstuff") artstuff
        li
            a(href="/blogstuff") blogstuff
  
        li
            a(href="/computerstuff") computerstuff

