doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    h1 Helo you
    p helo word
    p life is hard
    .container
    .row
        .col-md-3 #{kale1}
        .col-md-3 #{kale2}
        .col-md-3 #{kale3}

{"kale1" : "kale"};