body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: linen;
  margin-left: auto;
  margin-right: auto;
  width: 15em
}

img {
    border-radius: 25px;
    padding:1px;
    border:1px solid #021a40;
}

a {
  color: black;
}


